In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(font_scale=1.5);

In [12]:
# iterating the columns 
dtypes =frame.dtypes

In [ ]:
for col in frame.columns: 
    print(col, dtypes)

In [ ]:
bypreg_df = pd.DataFrame(bypreg)

In [ ]:
bypreg.columns

In [ ]:
bypreg_df.head()

In [ ]:
c=bypreg_df.corr(method ='pearson').abs()
c.head()
s = c.unstack()
so = s.sort_values(kind="quicksort")

In [ ]:
#I don't know what this one does but I don't want to delete it just yet
bypreg_df_demo = pd.DataFrame(bypreg_df, columns = ['Hxlivebirth' ,'Hxmacrosomia' ,'Hxpreterm' ,'Hxstillbirth' ,'HxnumCS' ,'Hxcsection' ,'Preweight' ,'PreBMI' ,'Diabetes' ,'ChronicHBP' ,'Hxheartdis' ,'Hxrenaldis' ,'HxGIdis' ,'Hxdepression' ,'Hxseizure' ,'Hxthyroid' ,'Hxasthma' ,'Hxanemia' ,'HIV' ,'HxSTD' ,'Numfetus' ,'OGTT1h' ,'ART' ,'Smoke' ,'Alcohol' ,'Druguse' ,'ECV' ,'Cerclage' ,'Antesteroid' ,'Antehospital' ,'AnteSTD' ,'AnteGBS' ,'AnteUTI' ,'Activeherpes' ,'Antebleed3' ,'Anteanemia' ,'Anteasthma' ,'Antethyroid' ,'GestHBP' ,'Preeclampsia' ,'Eclampsia' ,'ImposedPE' ,'UnspecHBP' ,'AnteCHBP' ,'AnteGDM' ,'DMControl' ,'Anteprevia' ,'Anteabruption' ,'Antethrombo' ,'Antechorio' ,'ThreatenedPB' ,'Incompetence' ,'PROM' ,'AnteSGA' ,'AnteLGA' ,'Rhincompat' ,'Oligo' ,'Polyhydramnios' ,'Antefetdistress' ,'CPD' ,'TTTwin' 
])

#pd.DataFrame(records_df4, columns = ['PMID','RN'])
bypreg_df_demo.head()

In [ ]:
c=bypreg_df_demo.corr(method ='pearson').abs()

In [93]:
#We have to join the different tables to get all patients!
# the firt one only has 50 thousand or so

In [2]:
#this works for the import of all the tables into one dataframe
import pandas as pd
import glob

#path = r'Q:\DASH\CSL_Consortium of Safe Labor\CSL_StudyItems\CSLDatasets' # use your path
path = r'Q:\DASH\CSL_Consortium of Safe Labor\CSL_StudyItems\CSLDatasets' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename,low_memory=False)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=False, sort=False)

ValueError: No objects to concatenate

In [136]:
frame.head()

,Sitenum,MomID,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,Hxmacrosomia,...,Oxy_dose,Oxytime,visit,dilation,efface,station,Dilat_diff,Vagexdt_diff,Vagtime,Fulldilattime2
0,41,41-00001,1.0,3.0,1.0,34.0,4.0,5.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41,41-00001,1.0,3.0,1.0,36.0,5.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41,41-00002,1.0,3.0,1.0,37.0,1.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41,41-00003,1.0,3.0,1.0,36.0,1.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41,41-00004,1.0,2.0,1.0,34.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
frame.shape

(2116172, 789)

In [16]:
frame.Hxstillbirth.unique()
#type(frame)

pandas.core.frame.DataFrame

In [ ]:
# iterating the columns 
dtypes =frame.dtypes
for col in frame.columns: 
    print(col, dtypes)

In [139]:
type(frame)

pandas.core.frame.DataFrame

In [ ]:
frame.MomID.value_counts()

In [ ]:
#correlation
c=frame.corr(method ='pearson').abs()
c.head()
s = c.unstack()
so = s.sort_values(ascending = False,kind="quicksort")

In [ ]:
print(so)

In [ ]:
frame.MomID.value_counts()

In [ ]:
c.head(5)

In [ ]:
type(c)

In [158]:
type(so)

pandas.core.series.Series

In [227]:
corr_df =so.to_frame()

In [ ]:
corr_df.head()

In [228]:
corr_df.shape

(595984, 1)

In [229]:
corr_df.columns = ['corr_coe']

In [ ]:
corr_df=corr_df[corr_df > 0.55].dropna()
corr_df =corr_df[corr_df < 0.9].dropna()

In [232]:
corr_df.shape

(9758, 1)

In [ ]:
corr_df

In [234]:
type(corr_df)

pandas.core.frame.DataFrame

In [235]:
import os
print(os.getcwd())

C:\Users\rodriguezlm2\MFM

In [236]:
corr_df.to_csv('corr_coe.csv',index=True)

In [32]:
frame.to_csv('preg_all.csv', index =True)

In [ ]:
#this gave memory failure
#frame= pd.read_csv("preg_all.csv", index_col=0, low_memory=False)

In [27]:
frame.head()

,Sitenum,MomID,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,Hxmacrosomia,...,Oxy_dose,Oxytime,visit,dilation,efface,station,Dilat_diff,Vagexdt_diff,Vagtime,Fulldilattime2
0,41,41-00001,1.0,3.0,1.0,34.0,4.0,5.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41,41-00001,1.0,3.0,1.0,36.0,5.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41,41-00002,1.0,3.0,1.0,37.0,1.0,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41,41-00003,1.0,3.0,1.0,36.0,1.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41,41-00004,1.0,2.0,1.0,34.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
frame.shape

(2116172, 789)

In [33]:
frame.Hxstillbirth.unique()

array([ 9.,  1.,  2.,  8., nan])

In [53]:
frame_df.Marital.unique()

array([ 1.,  2.,  3.,  8., nan])

In [52]:
frame_df = pd.DataFrame(frame['Marital'].replace('8.','5'))

In [56]:
frame_df.head()
frame_df.tail()

        Marital
537727      NaN
537728      NaN
537729      NaN
537730      NaN
537731      NaN

In [63]:
frame_df['Marital'].value_counts().isna()

1.0    False
3.0    False
8.0    False
2.0    False
Name: Marital, dtype: bool

In [50]:
type(frame_df)

pandas.core.frame.DataFrame

In [62]:
frame_df.dtypes.value_counts()

float64    1
dtype: int64

In [64]:
frame_df.shape

(2116172, 1)

In [65]:
frame.Education.unique()

array([ 3.,  2.,  8.,  1.,  9., nan])

In [66]:
frame.tail()

,Sitenum,MomID,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,Hxmacrosomia,...,Oxy_dose,Oxytime,visit,dilation,efface,station,Dilat_diff,Vagexdt_diff,Vagtime,Fulldilattime2
537727,52,52-07238-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Admit,0.0,0.0,NaN,0.0,0.0,468.0,NaN
537728,52,52-07239-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Admit,10.0,NaN,NaN,0.0,0.0,1153.0,NaN
537729,52,52-07240-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Admit,2.0,50.0,-5.0,0.0,0.0,1171.0,NaN
537730,52,52-07242-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Admit,NaN,NaN,NaN,NaN,0.0,2122.0,NaN
537731,52,52-07243-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Admit,1.0,100.0,-5.0,0.0,0.0,734.0,NaN