In [3]:
import sys
import pandas as pd
import util_mwb
print(sys.version)
print(pd.__version__) # Must be 0.24.1 for IntegerArray

3.7.5 (default, Oct 25 2019, 15:51:11)
[GCC 7.3.0]
0.25.2

In [79]:
%%time
csl_df = util_mwb.read_csl_csv('../data/csl/CSL_NearMiss.csv')
csl_df

CPU times: user 53.9 s, sys: 82.9 ms, total: 54 s
Wall time: 54 s

,MomID,Sitenum,MomNearMiss,Momdeath,MomICU,Activeherpes,Alcohol,Anteabruption,Anteanemia,Anteasthma,...,pulmonary_embolism9,renal_disease9,renal_disease_comb,spontlabor,threat_new,threatpb9,uscar,version9,vertex,vertex_new
1,41-00001,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,41-00001,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,41-00002,41,1,1,1,1,1,1,2,1,...,1,1,1,2,1,1,2,1,9,9
4,41-00003,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,41-00004,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228434,52-07247,52,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
228435,52-07248,52,1,1,1,1,1,2,1,1,...,1,1,1,1,1,1,2,1,0,0
228436,52-07249,52,2,1,2,1,1,2,1,1,...,1,1,1,1,1,1,2,1,9,9
228437,52-07250,52,1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,1,1
228438,52-07251,52,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

## Code used to find column names
```
preg_df = pd.read_csv('../data/csl/preg_mwb.csv', nrows=10)
colnames = preg_df.columns.to_list()
lower_list = [item.lower() for item in colnames]
for item in lower_list:
    if item.find('weight') >= 0 or \
       item.find('bmi') >= 0 or \
       item.find('fhr') >= 0 or \
       item.find('temp') >= 0 or \
       item.find('sbp') >= 0 or \
       item.find('dbp') >= 0 or \
       item.find('age') >= 0:
        print(f'{item}')
```

In [81]:
# Dec.19 - filtering by onepreg
continuous_cols = ['MomID', 'Momage', 'Preweight', 'Admweight', 'Birthweight1', 
                   'Admtemp', 'AdmSBP', 'AdmDBP', 'AdmFHR', 'onepregflag']
preg_df = pd.read_csv('../data/csl/preg_link.csv', usecols=continuous_cols)
#preg_df = pd.read_csv('../data/csl/preg_mwb.csv')
preg_df

,MomID,Momage,Preweight,Admweight,Admtemp,AdmSBP,AdmDBP,AdmFHR,Birthweight1,onepregflag
0,41-00001,34.0,54.431084,69.853225,97.70,121.0,84.0,NaN,3771.0,2.0
1,41-00001,36.0,56.699046,68.492448,97.30,118.0,73.0,125.0,3380.0,2.0
2,41-00002,37.0,86.182550,102.511876,98.90,150.0,83.0,NaN,2919.0,1.0
3,41-00003,36.0,62.595747,81.646627,98.24,105.0,77.0,NaN,3830.0,1.0
4,41-00004,34.0,88.450512,102.511876,95.36,122.0,65.0,NaN,3580.0,1.0
...,...,...,...,...,...,...,...,...,...,...
228433,52-07247,19.0,106.590000,117.027000,NaN,NaN,NaN,NaN,4380.0,1.0
228434,52-07248,34.0,NaN,115.665000,NaN,NaN,NaN,NaN,350.0,1.0
228435,52-07249,28.0,57.150000,58.967000,NaN,NaN,NaN,NaN,1033.0,1.0
228436,52-07250,16.0,58.510000,74.389000,NaN,NaN,NaN,NaN,2600.0,1.0
228437,52-07251,44.0,79.830000,89.357000,NaN,NaN,NaN,NaN,830.0,1.0

In [82]:
for col in preg_df:
    nulls = preg_df[col].isnull().sum()
    print(f'{col}: {nulls}')

MomID: 0
Momage: 323
Preweight: 67294
Admweight: 35984
Admtemp: 47977
AdmSBP: 52766
AdmDBP: 52800
AdmFHR: 113088
Birthweight1: 2561
onepregflag: 0

In [83]:
preg_df.describe()

,Momage,Preweight,Admweight,Admtemp,AdmSBP,AdmDBP,AdmFHR,Birthweight1,onepregflag
count,228115.000000,161144.000000,192454.000000,180461.000000,175672.000000,175638.000000,115350.000000,225877.000000,228438.000000
mean,27.627946,68.044034,82.518520,98.061024,124.149984,74.361038,137.093654,3222.031411,1.168632
std,6.196163,17.609714,17.916583,0.819275,14.894307,11.648962,22.179033,625.069495,0.374428
min,11.000000,36.000000,36.000000,86.800000,40.000000,20.000000,0.000000,200.000000,1.000000
25%,23.000000,56.245454,70.000000,97.520000,114.000000,67.000000,130.000000,2937.000000,1.000000
50%,27.000000,63.502932,79.378665,98.060000,123.000000,74.000000,138.000000,3278.000000,1.000000
75%,32.000000,75.800000,91.172066,98.600000,133.000000,81.000000,145.000000,3605.000000,1.000000
max,58.000000,204.116567,204.120000,104.800000,263.000000,194.000000,3200.000000,6321.000000,2.000000

In [84]:
import numpy as np
preg_df.agg(['median'])

,Momage,Preweight,Admweight,Admtemp,AdmSBP,AdmDBP,AdmFHR,Birthweight1,onepregflag
median,27.0,63.502932,79.378665,98.06,123.0,74.0,138.0,3278.0,1.0

In [85]:
# Using median to impute NULL values. Not sure about statistical validity, especially for
# fields that have large numbers of NULLs
preg_mod = preg_df.fillna(value=preg_df.median(), inplace=False)
preg_mod

,MomID,Momage,Preweight,Admweight,Admtemp,AdmSBP,AdmDBP,AdmFHR,Birthweight1,onepregflag
0,41-00001,34.0,54.431084,69.853225,97.70,121.0,84.0,138.0,3771.0,2.0
1,41-00001,36.0,56.699046,68.492448,97.30,118.0,73.0,125.0,3380.0,2.0
2,41-00002,37.0,86.182550,102.511876,98.90,150.0,83.0,138.0,2919.0,1.0
3,41-00003,36.0,62.595747,81.646627,98.24,105.0,77.0,138.0,3830.0,1.0
4,41-00004,34.0,88.450512,102.511876,95.36,122.0,65.0,138.0,3580.0,1.0
...,...,...,...,...,...,...,...,...,...,...
228433,52-07247,19.0,106.590000,117.027000,98.06,123.0,74.0,138.0,4380.0,1.0
228434,52-07248,34.0,63.502932,115.665000,98.06,123.0,74.0,138.0,350.0,1.0
228435,52-07249,28.0,57.150000,58.967000,98.06,123.0,74.0,138.0,1033.0,1.0
228436,52-07250,16.0,58.510000,74.389000,98.06,123.0,74.0,138.0,2600.0,1.0
228437,52-07251,44.0,79.830000,89.357000,98.06,123.0,74.0,138.0,830.0,1.0

In [87]:
merged = pd.merge(csl_df, preg_mod, how='inner', left_on='MomID', right_on='MomID')

In [89]:
for col in merged:
    if merged[col].isna().any():
        print(col)

depression9
heart_disease9

In [90]:
merged.to_csv('../data/csl/nominal_cont.csv')

In [101]:
one_preg_df = merged[merged['onepregflag'] == 1]
one_preg_df.shape

(189916, 253)

In [102]:
one_preg_df = one_preg_df.drop(columns='onepregflag')
one_preg_df.shape

(189916, 252)

In [103]:
one_preg_df.to_csv('../data/csl/onepreg.csv')