# Creating "complete" dataset including age/bmi-both & Sitenum 
### NOTE: Only saving trans_loss / PreIntra

In [1]:
import pandas as pd
import numpy as np
import os
from util_mwb import convert_integer

In [2]:
%matplotlib inline
%config Completer.use_jedi = False
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 30
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
pd.options.display.max_columns = 30
# Note: Name currently assumes updated symbolic link
os.chdir('/MFMDatasets/MFM_bopf/data/csl')
tl_PI = pd.read_csv('CSL_tl_PI_ab-both.csv', index_col=0)
tl_PI

,trans_loss,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,prim_hypo,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,0,0,...,0,0,0,0,0,0,0,0,0,1,0,37,33,1,1
41-00003,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,0,...,0,0,0,0,0,0,0,0,0,0,0,36,22,1,1
41-00004,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,0,...,0,0,0,0,0,0,0,0,0,0,0,34,31,1,1
41-00005,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,0,0,...,0,0,0,0,0,0,0,0,0,0,0,31,21,1,1
41-00006,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,0,...,0,0,0,0,0,0,0,0,0,0,0,21,22,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,0,0,0,0,0,0,0,0,0,0,0,19,38,0,1
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,0,1,0,34,24,1,1
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,0,0,0,0,0,0,1,0,28,23,1,1
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,0,16,23,0,1
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,0,0,0,0,0,0,0,0,0,0,44,29,2,1

In [7]:
csl_types = np.load('/MFMDatasets/MFM_bopf/data/csl/MFM_linked-by-preg_typedict.npy', allow_pickle='TRUE').item()
%time csl_df = pd.read_csv('/MFMDatasets/MFM_bopf/data/csl/MFM_linked-by-preg_Int8.csv', index_col=0, dtype=csl_types)
csl_df

CPU times: user 1min 14s, sys: 1.39 s, total: 1min 15s
Wall time: 1min 15s

,Sitenum,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,Hxmacrosomia,Hxpreterm,Hxstillbirth,HxnumCS,Hxcsection,Preweight,PreBMI,...,Dthdays3,Dthdays4,Admittime,Labonsettime,Triagetime,Fulldilattime,Placenttime,Inducttime,Ripentime,ROMtime,Epiduraltime,Intraantibtime,USdays,LMPdays,onepregflag
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00001,41,1,3,1,34,4,5,4,1,1,9,0,1,54.43,18.79,...,<NA>,<NA>,397,<NA>,397,15,4,361,<NA>,300,343,346,103,271,2
41-00001,41,1,3,1,36,5,6,5,2,1,9,0,1,56.70,19.58,...,<NA>,<NA>,425,<NA>,441,18,3,369,<NA>,251,314,<NA>,128,278,2
41-00002,41,1,3,1,37,1,3,1,1,1,9,1,2,86.18,32.61,...,<NA>,<NA>,216,<NA>,216,<NA>,1,<NA>,<NA>,1,4,<NA>,128,268,1
41-00003,41,1,3,1,36,1,4,1,1,1,9,0,1,62.60,22.27,...,<NA>,<NA>,430,<NA>,430,69,4,382,<NA>,369,364,<NA>,133,273,1
41-00004,41,1,2,1,34,2,6,2,1,1,9,0,1,88.45,30.54,...,<NA>,<NA>,464,<NA>,463,12,5,339,<NA>,105,116,455,204,274,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,52,8,1,8,19,0,1,0,9,1,9,0,1,106.59,38.22,...,<NA>,<NA>,<NA>,<NA>,<NA>,86,5,1236,471,464,403,<NA>,<NA>,260,1
52-07248,52,8,8,8,34,1,3,1,9,2,9,1,2,NaN,NaN,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,168,1580,<NA>,182,<NA>,<NA>,175,1
52-07249,52,8,8,8,28,3,5,2,9,2,9,1,2,57.15,23.19,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
52-07250,52,8,8,8,16,0,1,0,9,1,9,0,1,58.51,22.86,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,<NA>,<NA>,<NA>,248,<NA>,<NA>,<NA>,1
52-07251,52,8,8,8,44,3,7,3,9,1,9,0,1,79.83,29.32,...,<NA>,<NA>,<NA>,244,<NA>,4,6,244,<NA>,<NA>,13,<NA>,<NA>,212,1

In [8]:
#%time csl_df = pd.read_sas('/MFMDatasets/MFM_bopf/data/csl/csllinkedbypreg.sas7bdat', format = 'sas7bdat', encoding='iso-8859-1')
#all_types = convert_integer(csl_df)
#csl_df

In [9]:
print(type(csl_df['Sitenum'][0]))
csl_df['Sitenum'] = csl_df['Sitenum'].astype(int)
print(type(csl_df['Sitenum'][0]))

<class 'str'>
<class 'numpy.int64'>

In [10]:
csl_df.shape

(228438, 778)

In [11]:
csl_df['Sitenum'].value_counts(sort=False, dropna=False)

41    50320
42     6420
43    12637
44    23141
45    20329
46     7877
47    14667
48    18258
49    27869
50    20779
51    18392
52     7749
Name: Sitenum, dtype: int64

In [14]:
for col in csl_df:
    print(f'type({col}) = {type(csl_df[col][0])}')

type(Sitenum) = <class 'numpy.int64'>
type(Marital) = <class 'numpy.int8'>
type(Education) = <class 'numpy.int8'>
type(Insurance) = <class 'numpy.int8'>
type(Momage) = <class 'numpy.int8'>
type(Parity) = <class 'numpy.int8'>
type(Gravidity) = <class 'numpy.int8'>
type(Hxlivebirth) = <class 'numpy.int8'>
type(Hxmacrosomia) = <class 'numpy.int8'>
type(Hxpreterm) = <class 'numpy.int8'>
type(Hxstillbirth) = <class 'numpy.int8'>
type(HxnumCS) = <class 'numpy.int8'>
type(Hxcsection) = <class 'numpy.int8'>
type(Preweight) = <class 'numpy.float64'>
type(PreBMI) = <class 'numpy.float64'>
type(Diabetes) = <class 'numpy.int8'>
type(ChronicHBP) = <class 'numpy.int8'>
type(Hxheartdis) = <class 'numpy.int8'>
type(Hxrenaldis) = <class 'numpy.int8'>
type(HxGIdis) = <class 'numpy.int8'>
type(Hxdepression) = <class 'numpy.int8'>
type(Hxseizure) = <class 'numpy.int8'>
type(Hxthyroid) = <class 'numpy.int8'>
type(Hxasthma) = <class 'numpy.int8'>
type(Hxanemia) = <class 'numpy.int8'>
type(HIV) = <class 'numpy.int8'>
type(HxSTD) = <class 'numpy.int8'>
type(Numfetus) = <class 'numpy.int8'>
type(OGTT1h) = <class 'pandas._libs.missing.NAType'>
type(ART) = <class 'numpy.int8'>
type(Smoke) = <class 'numpy.int8'>
type(Alcohol) = <class 'numpy.int8'>
type(Druguse) = <class 'numpy.int8'>
type(ECV) = <class 'numpy.int8'>
type(Cerclage) = <class 'numpy.int8'>
type(Antesteroid) = <class 'numpy.int8'>
type(Antehospital) = <class 'numpy.int8'>
type(AnteSTD) = <class 'numpy.int8'>
type(AnteGBS) = <class 'numpy.int8'>
type(AnteUTI) = <class 'numpy.int8'>
type(Activeherpes) = <class 'numpy.int8'>
type(Antebleed3) = <class 'numpy.int8'>
type(Anteanemia) = <class 'numpy.int8'>
type(Anteasthma) = <class 'numpy.int8'>
type(Antethyroid) = <class 'numpy.int8'>
type(GestHBP) = <class 'numpy.int8'>
type(Preeclampsia) = <class 'numpy.int8'>
type(Eclampsia) = <class 'numpy.int8'>
type(ImposedPE) = <class 'numpy.int8'>
type(UnspecHBP) = <class 'numpy.int8'>
type(AnteCHBP) = <class 'pandas._libs.missing.NAType'>
type(AnteGDM) = <class 'numpy.int8'>
type(DMControl) = <class 'numpy.int8'>
type(Anteprevia) = <class 'numpy.int8'>
type(Anteabruption) = <class 'numpy.int8'>
type(Antethrombo) = <class 'numpy.int8'>
type(Antechorio) = <class 'pandas._libs.missing.NAType'>
type(ThreatenedPB) = <class 'numpy.int8'>
type(Incompetence) = <class 'numpy.int8'>
type(PROM) = <class 'numpy.int8'>
type(AnteSGA) = <class 'numpy.int8'>
type(AnteLGA) = <class 'numpy.int8'>
type(Rhincompat) = <class 'numpy.int8'>
type(Oligo) = <class 'numpy.int8'>
type(Polyhydramnios) = <class 'numpy.int8'>
type(Antefetdistress) = <class 'numpy.int8'>
type(CPD) = <class 'numpy.int8'>
type(TTTwin) = <class 'numpy.int8'>
type(Antefetaldth) = <class 'numpy.int8'>
type(Admweight) = <class 'numpy.float64'>
type(Admtemp) = <class 'numpy.float64'>
type(AdmSBP) = <class 'numpy.int16'>
type(AdmDBP) = <class 'numpy.int16'>
type(BESTGA) = <class 'numpy.float64'>
type(AdmFHR) = <class 'numpy.float64'>
type(Admcontract) = <class 'numpy.float64'>
type(AdmEFW) = <class 'pandas._libs.missing.NAType'>
type(Admpresent) = <class 'numpy.int8'>
type(Admefface) = <class 'numpy.float64'>
type(Admdilat) = <class 'numpy.float64'>
type(Admstation) = <class 'numpy.float64'>
type(AdmBishop) = <class 'numpy.int8'>
type(Triagedilat) = <class 'numpy.float64'>
type(GAmethod) = <class 'numpy.int8'>
type(Admreason) = <class 'numpy.int8'>
type(Admcervpos) = <class 'numpy.int8'>
type(Admconsistency) = <class 'numpy.int8'>
type(Dilat_lst) = <class 'numpy.float64'>
type(Station_1st) = <class 'numpy.float64'>
type(Efface_1st) = <class 'numpy.float64'>
type(VEyear_lst) = <class 'numpy.int16'>
type(Numvagex) = <class 'numpy.int8'>
type(EBLoss) = <class 'numpy.float64'>
type(Hyp_beta) = <class 'numpy.int8'>
type(Hyp_hydr) = <class 'numpy.int8'>
type(Hyp_meth) = <class 'numpy.int8'>
type(Hyp_calc) = <class 'numpy.int8'>
type(Hyp_ace) = <class 'numpy.int8'>
type(Hyp_clon) = <class 'numpy.int8'>
type(Hyp_diur) = <class 'numpy.int8'>
type(Hyp_alpha) = <class 'numpy.int8'>
type(Hyp_othr) = <class 'numpy.int8'>
type(Hyp_any) = <class 'numpy.int8'>
type(CS_Elect) = <class 'pandas._libs.missing.NAType'>
type(CS_Breech) = <class 'pandas._libs.missing.NAType'>
type(CS_Chorio) = <class 'pandas._libs.missing.NAType'>
type(CS_Emerg) = <class 'pandas._libs.missing.NAType'>
type(CS_Finduct) = <class 'pandas._libs.missing.NAType'>
type(CS_Fforceps) = <class 'pandas._libs.missing.NAType'>
type(CS_FVBAC) = <class 'pandas._libs.missing.NAType'>
type(CS_FTP) = <class 'pandas._libs.missing.NAType'>
type(CS_NRFHT) = <class 'pandas._libs.missing.NAType'>
type(CS_Fetanom) = <class 'pandas._libs.missing.NAType'>
type(CS_Fetmac) = <class 'pandas._libs.missing.NAType'>
type(CS_HIV) = <class 'pandas._libs.missing.NAType'>
type(CS_Mult) = <class 'pandas._libs.missing.NAType'>
type(CS_Pabrupt) = <class 'pandas._libs.missing.NAType'>
type(CS_Pprevia) = <class 'pandas._libs.missing.NAType'>
type(CS_HTNdis) = <class 'pandas._libs.missing.NAType'>
type(CS_UScar) = <class 'pandas._libs.missing.NAType'>
type(CS_Shoulder) = <class 'pandas._libs.missing.NAType'>
type(CS_HxShoulder) = <class 'pandas._libs.missing.NAType'>
type(CS_Other) = <class 'pandas._libs.missing.NAType'>
type(CS_Unknown) = <class 'pandas._libs.missing.NAType'>
type(Induction) = <class 'numpy.int8'>
type(Ind_elect) = <class 'numpy.int8'>
type(Ind_Still) = <class 'numpy.int8'>
type(Ind_anomaly) = <class 'numpy.int8'>
type(Ind_HTN) = <class 'numpy.int8'>
type(Ind_Mcond) = <class 'numpy.int8'>
type(Ind_FComp) = <class 'numpy.int8'>
type(Ind_Postdate) = <class 'numpy.int8'>
type(Ind_PROM) = <class 'numpy.int8'>
type(Ind_Hxfetal) = <class 'numpy.int8'>
type(Ind_Vbleed) = <class 'numpy.int8'>
type(Ind_HxMat) = <class 'numpy.int8'>
type(Ind_Chorio) = <class 'numpy.int8'>
type(Ind_Fmacro) = <class 'numpy.int8'>
type(Ind_Unkn) = <class 'numpy.int8'>
type(Ind_Miss) = <class 'numpy.int8'>
type(MthInd_AROM) = <class 'numpy.int8'>
type(MthInd_Miso) = <class 'numpy.int8'>
type(MthInd_Mec) = <class 'numpy.int8'>
type(MthInd_PGE2) = <class 'numpy.int8'>
type(MthInd_Oxy) = <class 'numpy.int8'>
type(MthInd_Unkn) = <class 'numpy.int8'>
type(MthIND_Miss) = <class 'numpy.int8'>
type(Analgesia) = <class 'numpy.int8'>
type(ROMmeth) = <class 'numpy.int8'>
type(Augment) = <class 'numpy.int8'>
type(Intratocolytix) = <class 'numpy.int8'>
type(Bloodproduct) = <class 'numpy.int8'>
type(AB_peni) = <class 'numpy.int8'>
type(AB_ceph) = <class 'numpy.int8'>
type(AB_clind) = <class 'numpy.int8'>
type(AB_gent) = <class 'numpy.int8'>
type(AB_eryth) = <class 'numpy.int8'>
type(AB_vanc) = <class 'numpy.int8'>
type(AB_doxy) = <class 'numpy.int8'>
type(AB_flagyl) = <class 'numpy.int8'>
type(AB_any) = <class 'numpy.int8'>
type(IntraMgSO) = <class 'numpy.int8'>
type(IUPC) = <class 'numpy.int8'>
type(FSE) = <class 'numpy.int8'>
type(Meconium) = <class 'numpy.int8'>
type(Intrafever) = <class 'numpy.int8'>
type(Intrachorio) = <class 'numpy.int8'>
type(Previa) = <class 'numpy.int8'>
type(Intraabrupt) = <class 'numpy.int8'>
type(Accrete) = <class 'numpy.int8'>
type(Momseizure) = <class 'numpy.int8'>
type(Prolapse) = <class 'numpy.int8'>
type(Intrafetdistress) = <class 'numpy.int8'>
type(Shoulder) = <class 'numpy.int8'>
type(Urupture) = <class 'numpy.int8'>
type(Dehiscence) = <class 'numpy.int8'>
type(Presentdel) = <class 'numpy.int8'>
type(Delmode) = <class 'numpy.int8'>
type(Operative) = <class 'numpy.int8'>
type(Delfetalpos) = <class 'numpy.int8'>
type(Episiotomy) = <class 'numpy.int8'>
type(Hysterectomy) = <class 'numpy.int8'>
type(Ligation) = <class 'numpy.int8'>
type(Attendant) = <class 'numpy.int8'>
type(AttendID) = <class 'str'>
type(MidwifeID) = <class 'float'>
type(TrialLabor) = <class 'numpy.int8'>
type(Postpulembol) = <class 'numpy.int8'>
type(Postbleed) = <class 'numpy.int8'>
type(Posttransfus) = <class 'numpy.int8'>
type(Postfever) = <class 'numpy.int8'>
type(PostHBP) = <class 'numpy.int8'>
type(Endometritis) = <class 'numpy.int8'>
type(Woundsep) = <class 'numpy.int8'>
type(Woundinf) = <class 'numpy.int8'>
type(Ileus) = <class 'numpy.int8'>
type(Postthrombosis) = <class 'numpy.int8'>
type(MomICU) = <class 'numpy.int8'>
type(Momdeath) = <class 'numpy.int8'>
type(Lac_Majperi) = <class 'numpy.int8'>
type(Lac_Majoth) = <class 'numpy.int8'>
type(Lac_Cerv) = <class 'numpy.int8'>
type(Lac_Other) = <class 'numpy.int8'>
type(Lac_Unkn) = <class 'numpy.int8'>
type(Lac_Min) = <class 'numpy.int8'>
type(Lac_None) = <class 'numpy.int8'>
type(MomLOS) = <class 'numpy.int16'>
type(Docage) = <class 'numpy.float64'>
type(Docsex) = <class 'numpy.int8'>
type(Docspecialty) = <class 'numpy.int8'>
type(Docyrgrad) = <class 'numpy.int16'>
type(Docpractice) = <class 'numpy.int8'>
type(Docinsurance) = <class 'numpy.int8'>
type(CSLweight) = <class 'numpy.float64'>
type(Hostype) = <class 'numpy.int8'>
type(Hoslevel) = <class 'numpy.int8'>
type(Hosnumdel) = <class 'numpy.int16'>
type(HosOBcover) = <class 'numpy.int8'>
type(HosMFM) = <class 'numpy.int8'>
type(Hosanesthesia) = <class 'numpy.int8'>
type(Hospitalist) = <class 'numpy.int8'>
type(Hosmidwife) = <class 'numpy.int8'>
type(Hosdoula) = <class 'numpy.int8'>
type(Hosneonatologist) = <class 'numpy.int8'>
type(HosNICUlevel) = <class 'numpy.int8'>
type(HosEpiNurse) = <class 'numpy.int8'>
type(HosEpitype) = <class 'numpy.int8'>
type(HospSpinal) = <class 'numpy.int8'>
type(HospPCA) = <class 'numpy.int8'>
type(HosEpiplac) = <class 'numpy.int8'>
type(Hospmed1) = <class 'str'>
type(Hospdosage1) = <class 'str'>
type(Hospmed2) = <class 'float'>
type(Hospdosage2) = <class 'float'>
type(Hospmed3) = <class 'float'>
type(Hospdosage3) = <class 'float'>
type(Hospepichange) = <class 'numpy.int8'>
type(Hospepichangesp) = <class 'float'>
type(HospScale) = <class 'numpy.int8'>
type(HospElectInd) = <class 'numpy.int8'>
type(HospElectCS) = <class 'numpy.int8'>
type(Hosinsurance) = <class 'numpy.int32'>
type(Inoxy_stardose) = <class 'numpy.int16'>
type(Inoxy_incrdose) = <class 'numpy.int16'>
type(Inoxy_incrtime) = <class 'numpy.int16'>
type(Numfetus1) = <class 'numpy.int8'>
type(Presentdel_B1) = <class 'numpy.int8'>
type(Presentdel_B2) = <class 'pandas._libs.missing.NAType'>
type(Presentdel_B3) = <class 'pandas._libs.missing.NAType'>
type(Presentdel_B4) = <class 'pandas._libs.missing.NAType'>
type(Delmode_B1) = <class 'numpy.int8'>
type(Delmode_B2) = <class 'pandas._libs.missing.NAType'>
type(Delmode_B3) = <class 'pandas._libs.missing.NAType'>
type(Delmode_B4) = <class 'pandas._libs.missing.NAType'>
type(Operative_B1) = <class 'numpy.int8'>
type(Operative_B2) = <class 'pandas._libs.missing.NAType'>
type(Operative_B3) = <class 'pandas._libs.missing.NAType'>
type(Operative_B4) = <class 'pandas._libs.missing.NAType'>
type(Sex1) = <class 'numpy.int8'>
type(Sex2) = <class 'pandas._libs.missing.NAType'>
type(Sex3) = <class 'pandas._libs.missing.NAType'>
type(Sex4) = <class 'pandas._libs.missing.NAType'>
type(Birthorder1) = <class 'numpy.int8'>
type(Birthorder2) = <class 'pandas._libs.missing.NAType'>
type(Birthorder3) = <class 'pandas._libs.missing.NAType'>
type(Birthorder4) = <class 'pandas._libs.missing.NAType'>
type(Resuscitate1) = <class 'numpy.int8'>
type(Resuscitate2) = <class 'pandas._libs.missing.NAType'>
type(Resuscitate3) = <class 'pandas._libs.missing.NAType'>
type(Resuscitate4) = <class 'pandas._libs.missing.NAType'>
type(ResusLevel1) = <class 'numpy.int8'>
type(ResusLevel2) = <class 'pandas._libs.missing.NAType'>
type(ResusLevel3) = <class 'pandas._libs.missing.NAType'>
type(ResusLevel4) = <class 'pandas._libs.missing.NAType'>
type(Newbornfever1) = <class 'numpy.int8'>
type(Newbornfever2) = <class 'pandas._libs.missing.NAType'>
type(Newbornfever3) = <class 'pandas._libs.missing.NAType'>
type(Newbornfever4) = <class 'pandas._libs.missing.NAType'>
type(NICUadmit1) = <class 'numpy.int8'>
type(NICUadmit2) = <class 'pandas._libs.missing.NAType'>
type(NICUadmit3) = <class 'pandas._libs.missing.NAType'>
type(NICUadmit4) = <class 'pandas._libs.missing.NAType'>
type(Conanomaly9_1) = <class 'numpy.int8'>
type(Conanomaly9_2) = <class 'pandas._libs.missing.NAType'>
type(Conanomaly9_3) = <class 'pandas._libs.missing.NAType'>
type(Conanomaly9_4) = <class 'pandas._libs.missing.NAType'>
type(Bthinjury9_1) = <class 'numpy.int8'>
type(Bthinjury9_2) = <class 'pandas._libs.missing.NAType'>
type(Bthinjury9_3) = <class 'pandas._libs.missing.NAType'>
type(Bthinjury9_4) = <class 'pandas._libs.missing.NAType'>
type(APGAR1_1) = <class 'numpy.int8'>
type(APGAR1_2) = <class 'pandas._libs.missing.NAType'>
type(APGAR1_3) = <class 'pandas._libs.missing.NAType'>
type(APGAR1_4) = <class 'pandas._libs.missing.NAType'>
type(APGAR5_1) = <class 'numpy.int8'>
type(APGAR5_2) = <class 'pandas._libs.missing.NAType'>
type(APGAR5_3) = <class 'pandas._libs.missing.NAType'>
type(APGAR5_4) = <class 'pandas._libs.missing.NAType'>
type(ApH1) = <class 'numpy.float64'>
type(ApH2) = <class 'numpy.float64'>
type(ApH3) = <class 'numpy.float64'>
type(ApH4) = <class 'numpy.float64'>
type(APO2_1) = <class 'numpy.float64'>
type(APO2_2) = <class 'numpy.float64'>
type(APO2_3) = <class 'numpy.float64'>
type(APO2_4) = <class 'pandas._libs.missing.NAType'>
type(APCO2_1) = <class 'numpy.float64'>
type(APCO2_2) = <class 'numpy.float64'>
type(APCO2_3) = <class 'numpy.float64'>
type(APCO2_4) = <class 'pandas._libs.missing.NAType'>
type(Abase1) = <class 'numpy.float64'>
type(Abase2) = <class 'numpy.float64'>
type(Abase3) = <class 'numpy.float64'>
type(Abase4) = <class 'pandas._libs.missing.NAType'>
type(VpH1) = <class 'numpy.float64'>
type(VpH2) = <class 'numpy.float64'>
type(VpH3) = <class 'numpy.float64'>
type(VpH4) = <class 'numpy.float64'>
type(VPO2_1) = <class 'numpy.float64'>
type(VPO2_2) = <class 'numpy.float64'>
type(VPO2_3) = <class 'numpy.float64'>
type(VPO2_4) = <class 'numpy.float64'>
type(VPCO2_1) = <class 'numpy.float64'>
type(VPCO2_2) = <class 'numpy.float64'>
type(VPCO2_3) = <class 'numpy.float64'>
type(VPCO2_4) = <class 'numpy.float64'>
type(Vbase1) = <class 'numpy.float64'>
type(Vbase2) = <class 'numpy.float64'>
type(Vbase3) = <class 'numpy.float64'>
type(Vbase4) = <class 'numpy.float64'>
type(GA1) = <class 'numpy.float64'>
type(GA2) = <class 'numpy.float64'>
type(GA3) = <class 'numpy.float64'>
type(GA4) = <class 'numpy.float64'>
type(Birthweight1) = <class 'numpy.int16'>
type(Birthweight2) = <class 'pandas._libs.missing.NAType'>
type(Birthweight3) = <class 'pandas._libs.missing.NAType'>
type(Birthweight4) = <class 'pandas._libs.missing.NAType'>
type(NLOS1) = <class 'numpy.float64'>
type(NLOS2) = <class 'numpy.float64'>
type(NLOS3) = <class 'numpy.float64'>
type(NLOS4) = <class 'numpy.float64'>
type(Nsepsis1) = <class 'numpy.int8'>
type(Nsepsis2) = <class 'pandas._libs.missing.NAType'>
type(Nsepsis3) = <class 'pandas._libs.missing.NAType'>
type(Nsepsis4) = <class 'pandas._libs.missing.NAType'>
type(Npneumonia1) = <class 'numpy.int8'>
type(Npneumonia2) = <class 'pandas._libs.missing.NAType'>
type(Npneumonia3) = <class 'pandas._libs.missing.NAType'>
type(Npneumonia4) = <class 'pandas._libs.missing.NAType'>
type(ICH1) = <class 'numpy.int8'>
type(ICH2) = <class 'pandas._libs.missing.NAType'>
type(ICH3) = <class 'pandas._libs.missing.NAType'>
type(ICH4) = <class 'pandas._libs.missing.NAType'>
type(Asphyxia1) = <class 'numpy.int8'>
type(Asphyxia2) = <class 'pandas._libs.missing.NAType'>
type(Asphyxia3) = <class 'pandas._libs.missing.NAType'>
type(Asphyxia4) = <class 'pandas._libs.missing.NAType'>
type(Intraaspirate1) = <class 'numpy.int8'>
type(Intraaspirate2) = <class 'pandas._libs.missing.NAType'>
type(Intraaspirate3) = <class 'pandas._libs.missing.NAType'>
type(Intraaspirate4) = <class 'pandas._libs.missing.NAType'>
type(HIE1) = <class 'numpy.int8'>
type(HIE2) = <class 'pandas._libs.missing.NAType'>
type(HIE3) = <class 'pandas._libs.missing.NAType'>
type(HIE4) = <class 'pandas._libs.missing.NAType'>
type(RDS1) = <class 'numpy.int8'>
type(RDS2) = <class 'pandas._libs.missing.NAType'>
type(RDS3) = <class 'pandas._libs.missing.NAType'>
type(RDS4) = <class 'pandas._libs.missing.NAType'>
type(Nseizure1) = <class 'numpy.int8'>
type(Nseizure2) = <class 'pandas._libs.missing.NAType'>
type(Nseizure3) = <class 'pandas._libs.missing.NAType'>
type(Nseizure4) = <class 'pandas._libs.missing.NAType'>
type(Oligouria1) = <class 'numpy.int8'>
type(Oligouria2) = <class 'pandas._libs.missing.NAType'>
type(Oligouria3) = <class 'pandas._libs.missing.NAType'>
type(Oligouria4) = <class 'pandas._libs.missing.NAType'>
type(Nmyocardio1) = <class 'numpy.int8'>
type(Nmyocardio2) = <class 'pandas._libs.missing.NAType'>
type(Nmyocardio3) = <class 'pandas._libs.missing.NAType'>
type(Nmyocardio4) = <class 'pandas._libs.missing.NAType'>
type(PVHIVH1) = <class 'numpy.int8'>
type(PVHIVH2) = <class 'pandas._libs.missing.NAType'>
type(PVHIVH3) = <class 'pandas._libs.missing.NAType'>
type(PVHIVH4) = <class 'pandas._libs.missing.NAType'>
type(NEC1) = <class 'numpy.int8'>
type(NEC2) = <class 'pandas._libs.missing.NAType'>
type(NEC3) = <class 'pandas._libs.missing.NAType'>
type(NEC4) = <class 'pandas._libs.missing.NAType'>
type(Apnea1) = <class 'numpy.int8'>
type(Apnea2) = <class 'pandas._libs.missing.NAType'>
type(Apnea3) = <class 'pandas._libs.missing.NAType'>
type(Apnea4) = <class 'pandas._libs.missing.NAType'>
type(ROP1) = <class 'numpy.int8'>
type(ROP2) = <class 'pandas._libs.missing.NAType'>
type(ROP3) = <class 'pandas._libs.missing.NAType'>
type(ROP4) = <class 'pandas._libs.missing.NAType'>
type(Nanemia1) = <class 'numpy.int8'>
type(Nanemia2) = <class 'pandas._libs.missing.NAType'>
type(Nanemia3) = <class 'pandas._libs.missing.NAType'>
type(Nanemia4) = <class 'pandas._libs.missing.NAType'>
type(PDA1) = <class 'numpy.int8'>
type(PDA2) = <class 'pandas._libs.missing.NAType'>
type(PDA3) = <class 'pandas._libs.missing.NAType'>
type(PDA4) = <class 'pandas._libs.missing.NAType'>
type(Noxygen1) = <class 'numpy.int8'>
type(Noxygen2) = <class 'pandas._libs.missing.NAType'>
type(Noxygen3) = <class 'pandas._libs.missing.NAType'>
type(Noxygen4) = <class 'pandas._libs.missing.NAType'>
type(Nventilate1) = <class 'numpy.int8'>
type(Nventilate2) = <class 'pandas._libs.missing.NAType'>
type(Nventilate3) = <class 'pandas._libs.missing.NAType'>
type(Nventilate4) = <class 'pandas._libs.missing.NAType'>
type(CPAP1) = <class 'numpy.int8'>
type(CPAP2) = <class 'pandas._libs.missing.NAType'>
type(CPAP3) = <class 'pandas._libs.missing.NAType'>
type(CPAP4) = <class 'pandas._libs.missing.NAType'>
type(TTN1) = <class 'numpy.int8'>
type(TTN2) = <class 'pandas._libs.missing.NAType'>
type(TTN3) = <class 'pandas._libs.missing.NAType'>
type(TTN4) = <class 'pandas._libs.missing.NAType'>
type(Ntransfuse1) = <class 'numpy.int8'>
type(Ntransfuse2) = <class 'pandas._libs.missing.NAType'>
type(Ntransfuse3) = <class 'pandas._libs.missing.NAType'>
type(Ntransfuse4) = <class 'pandas._libs.missing.NAType'>
type(Surfactant1) = <class 'numpy.int8'>
type(Surfactant2) = <class 'pandas._libs.missing.NAType'>
type(Surfactant3) = <class 'pandas._libs.missing.NAType'>
type(Surfactant4) = <class 'pandas._libs.missing.NAType'>
type(Ndeath1) = <class 'numpy.int8'>
type(Ndeath2) = <class 'pandas._libs.missing.NAType'>
type(Ndeath3) = <class 'pandas._libs.missing.NAType'>
type(Ndeath4) = <class 'pandas._libs.missing.NAType'>
type(RDS9_1) = <class 'numpy.int8'>
type(RDS9_2) = <class 'pandas._libs.missing.NAType'>
type(RDS9_3) = <class 'pandas._libs.missing.NAType'>
type(RDS9_4) = <class 'pandas._libs.missing.NAType'>
type(Npneumasp9_1) = <class 'numpy.int8'>
type(Npneumasp9_2) = <class 'pandas._libs.missing.NAType'>
type(Npneumasp9_3) = <class 'pandas._libs.missing.NAType'>
type(Npneumasp9_4) = <class 'pandas._libs.missing.NAType'>
type(Npneuminf9_1) = <class 'numpy.int8'>
type(Npneuminf9_2) = <class 'pandas._libs.missing.NAType'>
type(Npneuminf9_3) = <class 'pandas._libs.missing.NAType'>
type(Npneuminf9_4) = <class 'pandas._libs.missing.NAType'>
type(Asphyxia9_1) = <class 'numpy.int8'>
type(Asphyxia9_2) = <class 'pandas._libs.missing.NAType'>

In [15]:
tl_PI_mod = tl_PI.merge(csl_df[['Sitenum']], left_index=True, right_index=True, how='inner')
tl_PI_mod

,trans_loss,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,0,0,...,0,0,0,0,0,0,0,0,1,0,37,33,1,1,41
41-00003,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00005,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,0,0,...,0,0,0,0,0,0,0,0,0,0,31,21,1,1,41
41-00006,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [16]:
pd.crosstab(index=csl_df['Sitenum'], columns=csl_df['Posttransfus'])

Posttransfus      1     2      9
Sitenum
41            45719  4601      0
42                0     0   6420
43                0     0  12637
44            22644   497      0
45                0     0  20329
46                0     0   7877
47            14654    13      0
48                0     0  18258
49            27665   204      0
50                0     0  20779
51            18378    13      0
52             7685    64      0

In [17]:
pd.crosstab(index=csl_df['Sitenum'], columns=csl_df['Bloodproduct'])

Bloodproduct      1    2      9
Sitenum
41            50206  114      0
42                0    0   6420
43            12127  510      0
44            22644  497      0
45            20133  196      0
46             7872    5      0
47                0    0  14667
48                0    0  18258
49            27640  229      0
50            20642  137      0
51                0    0  18392
52             7728   21      0

In [18]:
pd.crosstab(index=tl_PI_mod['Sitenum'], columns=tl_PI_mod['Intratocolytix'])

Intratocolytix      1    2  3     4    5    6   7      8      9
Sitenum
41              42642  214  0     0    0    0   0      0      0
42                  0    0  0     0    0   34   0   5824      0
43                  0  411  0     0    0    0   0   9254      0
44                  0  259  0     0    0    0   0  16275      0
45                  0    0  0     0    0    0   0      0  13246
46                  0    0  0     0    0    0   0      0   6913
47              13388   46  0     0    0    0   0      0      0
48                  0    0  0     0    0    0   0      0  16088
49                  0    0  7  1128  356  565   0  22219      0
50                  0    0  0     0    0    0   0      0  13868
51                  0    0  5     0    0  693  12  15350      0
52                  0    1  0     0    0  344   0   6271      0

In [19]:
site_tl_df = pd.crosstab(index=tl_PI_mod['Sitenum'], columns=tl_PI_mod['trans_loss'], normalize='index')*100
site_tl_df

trans_loss     0    1
Sitenum
41         90.07 9.93
42         95.13 4.87
43         91.51 8.49
44         93.07 6.93
45         94.52 5.48
46         97.28 2.72
47         99.92 0.08
48         98.28 1.72
49         94.76 5.24
50         94.75 5.25
51         99.07 0.93
52         92.62 7.38

In [20]:
#site_tl_totals = site_tl_df.merge(pd.DataFrame(tl_PI_mod['Sitenum'].value_counts(sort=False)), left_index=True, right_index=True, how='left')
#site_tl_totals

In [21]:
site_tl_df['Count'] = tl_PI_mod['Sitenum'].value_counts(sort=False)
site_tl_df

trans_loss     0    1  Count
Sitenum
41         90.07 9.93  42856
42         95.13 4.87   5858
43         91.51 8.49   9665
44         93.07 6.93  16534
45         94.52 5.48  13246
46         97.28 2.72   6913
47         99.92 0.08  13434
48         98.28 1.72  16088
49         94.76 5.24  24275
50         94.75 5.25  13868
51         99.07 0.93  16060
52         92.62 7.38   6616

In [22]:
site_tl_df.columns

Index([0, 1, 'Count'], dtype='object', name='trans_loss')

In [23]:
site_tl_df.sort_values(by=1, ascending=False)

trans_loss     0    1  Count
Sitenum
41         90.07 9.93  42856
43         91.51 8.49   9665
52         92.62 7.38   6616
44         93.07 6.93  16534
45         94.52 5.48  13246
50         94.75 5.25  13868
49         94.76 5.24  24275
42         95.13 4.87   5858
46         97.28 2.72   6913
48         98.28 1.72  16088
51         99.07 0.93  16060
47         99.92 0.08  13434

In [24]:
pd.crosstab(index=tl_PI_mod['HosEpiNurse'], columns=tl_PI_mod['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
HosEpiNurse,,,,,,,,,,,,
0,42856,0,9665,16534,13246,6913,0,0,0,13868,16060,0
1,0,5858,0,0,0,0,13434,16088,24275,0,0,6616

In [25]:
pd.crosstab(index=tl_PI_mod['trans_loss'], columns=tl_PI_mod['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
trans_loss,,,,,,,,,,,,
0,38601,5573,8844,15389,12520,6725,13423,15812,23003,13140,15911,6128
1,4255,285,821,1145,726,188,11,276,1272,728,149,488

In [26]:
pd.crosstab(index=tl_PI_mod['Intratocolytix'], columns=tl_PI_mod['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
Intratocolytix,,,,,,,,,,,,
1,42642,0,0,0,0,0,13388,0,0,0,0,0
2,214,0,411,259,0,0,46,0,0,0,0,1
3,0,0,0,0,0,0,0,0,7,0,5,0
4,0,0,0,0,0,0,0,0,1128,0,0,0
5,0,0,0,0,0,0,0,0,356,0,0,0
6,0,34,0,0,0,0,0,0,565,0,693,344
7,0,0,0,0,0,0,0,0,0,0,12,0
8,0,5824,9254,16275,0,0,0,0,22219,0,15350,6271
9,0,0,0,0,13246,6913,0,16088,0,13868,0,0

In [27]:
pd.crosstab(index=tl_PI_mod['DMControl'], columns=tl_PI_mod['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
DMControl,,,,,,,,,,,,
1,494,0,0,417,0,0,231,0,166,0,0,187
2,247,0,0,0,0,0,0,0,64,0,0,0
3,998,0,0,519,0,0,212,0,147,0,0,290
4,0,173,0,0,0,0,0,0,0,0,0,0
7,41094,5685,0,15037,0,0,12991,0,10,0,0,6139
8,23,0,9665,561,13246,6913,0,16088,23888,13868,16060,0

### Use "out_flag" variable to control whether files are written or not

In [28]:
out_flag = False

from datetime import datetime
datestr = datetime.today().strftime('%Y-%m-%d')

In [29]:
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_tl_PI_complete_' + datestr + '.csv'
linkname = 'CSL_tl_PI_comp.csv'
if out_flag:
    tl_PI_mod.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')

File not written: MFM_CSL_d6_tl_PI_complete_2021-11-12.csv

# Create data file without Site 41

In [30]:
print(type(tl_PI_mod['Sitenum'][0]))

<class 'numpy.int64'>

In [31]:
tl_PI_no41 = tl_PI_mod[tl_PI_mod['Sitenum'] != 41]
tl_PI_no41

,trans_loss,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
42-00001,0,0,8,8,8,99.00,84,80.00,1,122.00,88,88,39.90,0,0,...,0,0,0,0,0,0,0,0,0,0,29,32,1,1,42
42-00002,0,0,8,8,8,99.00,65,80.00,1,114.00,88,88,39.40,0,0,...,0,0,0,1,0,0,0,0,0,0,22,20,1,1,42
42-00003,0,0,8,8,8,99.00,74,0.00,77,124.40,88,88,38.70,1,1,...,0,0,0,0,1,0,0,0,1,0,35,27,1,1,42
42-00004,0,0,8,8,8,99.00,110,0.00,77,174.00,88,88,36.90,0,0,...,0,0,0,0,0,0,0,0,1,0,35,27,1,1,42
42-00005,0,0,8,8,8,99.00,81,80.00,1,142.00,88,88,38.90,0,0,...,0,0,0,0,0,0,0,0,0,0,25,24,1,1,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [32]:
out_flag = False
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_tl_PI_NoSite41_' + datestr + '.csv'
linkname = 'CSL_tl_PI_no41.csv'
if out_flag:
    tl_PI_no41.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')

File not written: MFM_CSL_d6_tl_PI_NoSite41_2021-11-12.csv

# Create NoSite41 for Transfus_yes

In [33]:
# Note: Name currently assumes updated symbolic link
os.chdir('/MFMDatasets/MFM_bopf/data/csl')
ty_PI = pd.read_csv('CSL_ty_PI.csv', index_col=0)

In [34]:
ty_PI

,transfus_yes,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,pre_diab,pre_PROM,Preeclampsia,prelaborCD,prim_hypo,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
41-00003,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41-00004,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41-00005,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41-00006,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
# Add in new_age, etc.
ty_PI = ty_PI.merge(tl_PI_mod[['new_age','new_BMI','new_high_Age', 'new_high_BMI', 'Sitenum']], left_index=True, right_index=True, how='left')
ty_PI.drop(['high_Age','high_BMI'], inplace=True, axis=1)
ty_PI

,transfus_yes,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,0,0,...,0,0,0,0,0,0,0,0,1,0,37,33,1,1,41
41-00003,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00005,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,0,0,...,0,0,0,0,0,0,0,0,0,0,31,21,1,1,41
41-00006,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [36]:
ty_PI_no41 = ty_PI[['transfus_yes']].merge(tl_PI_no41, left_index=True, right_index=True, how='right')
ty_PI_no41.drop('trans_loss', inplace=True, axis=1)                       
ty_PI_no41

,transfus_yes,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
42-00001,0,0,8,8,8,99.00,84,80.00,1,122.00,88,88,39.90,0,0,...,0,0,0,0,0,0,0,0,0,0,29,32,1,1,42
42-00002,0,0,8,8,8,99.00,65,80.00,1,114.00,88,88,39.40,0,0,...,0,0,0,1,0,0,0,0,0,0,22,20,1,1,42
42-00003,0,0,8,8,8,99.00,74,0.00,77,124.40,88,88,38.70,1,1,...,0,0,0,0,1,0,0,0,1,0,35,27,1,1,42
42-00004,0,0,8,8,8,99.00,110,0.00,77,174.00,88,88,36.90,0,0,...,0,0,0,0,0,0,0,0,1,0,35,27,1,1,42
42-00005,0,0,8,8,8,99.00,81,80.00,1,142.00,88,88,38.90,0,0,...,0,0,0,0,0,0,0,0,0,0,25,24,1,1,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [37]:
ty_cols = set(ty_PI.columns)

In [38]:
no41_cols = set(ty_PI_no41.columns)

In [39]:
no41_cols - ty_cols

set()

In [40]:
ty_cols - no41_cols

set()

In [41]:
out_flag = False
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_ty_PI_NoSite41_' + datestr + '.csv'
linkname = 'CSL_ty_PI_no41.csv'
if out_flag:
    ty_PI_no41.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')

File not written: MFM_CSL_d6_ty_PI_NoSite41_2021-11-12.csv

In [42]:
pd.crosstab(index=ty_PI['transfus_yes'], columns=tl_PI_mod['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
transfus_yes,,,,,,,,,,,,
0,38944,5858,9261,16191,13117,6908,13423,16088,24084,13762,16052,6555
1,3912,0,404,343,129,5,11,0,191,106,8,61

# Create TyTl file for Cramer run including Sitenum

In [43]:
tytl_PI = ty_PI[['transfus_yes']].merge(tl_PI_mod, left_index=True, right_index=True, how='right')
tytl_PI

,transfus_yes,trans_loss,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,0,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,0,...,0,0,0,0,0,0,0,0,1,0,37,33,1,1,41
41-00003,0,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00005,1,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,0,...,0,0,0,0,0,0,0,0,0,0,31,21,1,1,41
41-00006,0,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [44]:
pd.crosstab(tytl_PI['Sitenum'], [tytl_PI['trans_loss'], tytl_PI['transfus_yes']], dropna=False)

trans_loss        0        1
transfus_yes      0  1     0     1
Sitenum
41            38601  0   343  3912
42             5573  0   285     0
43             8844  0   417   404
44            15389  0   802   343
45            12520  0   597   129
46             6725  0   183     5
47            13423  0     0    11
48            15812  0   276     0
49            23003  0  1081   191
50            13140  0   622   106
51            15911  0   141     8
52             6128  0   427    61

In [45]:
pd.crosstab(tytl_PI['Sitenum'], tytl_PI['trans_loss'])

trans_loss      0     1
Sitenum
41          38601  4255
42           5573   285
43           8844   821
44          15389  1145
45          12520   726
46           6725   188
47          13423    11
48          15812   276
49          23003  1272
50          13140   728
51          15911   149
52           6128   488

In [46]:
pd.crosstab(tytl_PI['Sitenum'], tytl_PI['transfus_yes'])

transfus_yes      0     1
Sitenum
41            38944  3912
42             5858     0
43             9261   404
44            16191   343
45            13117   129
46             6908     5
47            13423    11
48            16088     0
49            24084   191
50            13762   106
51            16052     8
52             6555    61

In [47]:
out_flag = False
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_tytl_PI_' + datestr + '.csv'
linkname = 'CSL_tytl_PI.csv'
if out_flag:
    tytl_PI.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')

File not written: MFM_CSL_d6_tytl_PI_2021-11-12.csv

# Create data file for high_EBLoss target

In [48]:
he_df = pd.read_csv('/MFMDatasets/MFM_bopf/data/csl/high_EBL.txt', index_col=0)
he_df

          high_EBL
MomID
41-00001         9
41-00001         9
41-00002         9
41-00003         0
41-00004         0
...            ...
52-07247         0
52-07248         0
52-07249         1
52-07250         0
52-07251         0

[228438 rows x 1 columns]

In [49]:
he_ty_PI = he_df.merge(ty_PI, left_index=True, right_index=True, how='right')
he_ty_PI

,high_EBL,transfus_yes,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,9,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,0,...,0,0,0,0,0,0,0,0,1,0,37,33,1,1,41
41-00003,0,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00005,9,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,0,...,0,0,0,0,0,0,0,0,0,0,31,21,1,1,41
41-00006,0,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [50]:
he_ty_PI = he_ty_PI[he_ty_PI['high_EBL'] < 9]
he_ty_PI

,high_EBL,transfus_yes,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00003,0,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00006,0,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
41-00007,0,0,0,4,2,2,2.90,105,50.00,77,145.00,7,88,38.00,0,...,0,0,0,1,0,0,0,0,0,0,42,24,2,1,41
41-00008,0,0,0,6,3,2,6.70,71,70.00,77,118.00,8,88,40.50,0,...,0,0,0,0,0,0,0,0,0,0,33,18,1,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [51]:
he_ty_PI['high_EBL'].value_counts()

0    130727
1      5760
Name: high_EBL, dtype: int64

In [52]:
out_flag = False
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_hety_PI_' + datestr + '.csv'
linkname = 'CSL_hety_PI_comp.csv'
if out_flag:
    he_ty_PI.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')

File not written: MFM_CSL_d6_hety_PI_2021-11-12.csv

In [53]:
he_PI = he_ty_PI.drop('transfus_yes', axis=1)
he_PI

,high_EBL,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00003,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00006,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
41-00007,0,0,4,2,2,2.90,105,50.00,77,145.00,7,88,38.00,0,0,...,0,0,0,1,0,0,0,0,0,0,42,24,2,1,41
41-00008,0,0,6,3,2,6.70,71,70.00,77,118.00,8,88,40.50,0,0,...,0,0,0,0,0,0,0,0,0,0,33,18,1,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [54]:
out_flag = False
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_highEBL_PI_' + datestr + '.csv'
linkname = 'CSL_he_PI_comp.csv'
if out_flag:
    he_PI.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')

File not written: MFM_CSL_d6_highEBL_PI_2021-11-12.csv