In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('../data/csl/CSL_d5_targets.csv', index_col=0)
df

,Sitenum,MomNearMiss,Momdeath,MomICU,transfus_yes,Bloodproduct,Posttransfus,transLoss,EBLoss,high_EBLoss,...,ich_new1,iufd9,myocardio_new1,R_preg,Outcome1,high_BMI,high_Age,high_Gravidity,high_MomLOS,high_height
MomID,,,,,,,,,,,,,,,,,,,,,
41-00002,41,1,1,1,1,1,1,1,350.0,0,...,1,0,1,1,1,0,0,2,3,2.0
41-00003,41,1,1,1,1,1,1,1,250.0,0,...,1,0,1,1,1,0,0,3,2,2.0
41-00004,41,1,1,1,1,1,1,1,250.0,0,...,1,0,1,1,1,0,0,4,1,3.0
41-00005,41,1,1,1,2,1,2,2,350.0,0,...,1,0,1,1,1,0,0,3,2,2.0
41-00006,41,1,1,1,1,1,1,1,450.0,0,...,1,0,1,1,1,0,0,1,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,52,1,1,1,1,1,1,1,300.0,0,...,1,0,1,1,3,0,3,1,2,2.0
52-07248,52,1,1,1,1,1,1,1,100.0,0,...,1,1,1,1,3,0,0,2,2,3.0
52-07249,52,2,1,2,2,2,1,2,2000.0,3,...,1,1,1,1,3,0,0,3,3,2.0
52-07250,52,1,1,1,1,1,1,1,150.0,0,...,1,1,1,1,5,0,3,1,2,2.0
52-07251,52,1,1,1,1,1,1,1,400.0,0,...,1,1,1,1,3,0,1,4,3,2.0

In [3]:
df.shape

(185413, 248)

In [4]:
# Create target versions that don't have dependent vars. or other targets

# transfus_yes depends on 'Bloodproduct' and 'Posttransfus'
# MomNearMiss, transLoss, and high_EBLoss are derived variables
df.drop('Bloodproduct', axis=1, inplace=True)
df.drop('Posttransfus', axis=1, inplace=True)
df.drop('MomNearMiss', axis=1, inplace=True)
df.drop('transLoss', axis=1, inplace=True)
df.drop('high_EBLoss', axis=1, inplace=True)

# transLoss depends on transfus_yes and high_EBLoss (which depends on EBLoss)
# transLoss depends on transfus_yes so all its variables need removing, too
#df.drop('EBLoss', axis=1, inplace=True)
#df.drop('high_EBLoss', axis=1, inplace=True)
#df.drop('transfus_yes', axis=1, inplace=True)
#df.drop('Bloodproduct', axis=1, inplace=True)
#df.drop('Posttransfus', axis=1, inplace=True)
#df.drop('MomNearMiss', axis=1, inplace=True)
df.head()

,Sitenum,Momdeath,MomICU,transfus_yes,EBLoss,AB_any,AB_ceph,AB_clind,AB_doxy,AB_eryth,...,ich_new1,iufd9,myocardio_new1,R_preg,Outcome1,high_BMI,high_Age,high_Gravidity,high_MomLOS,high_height
MomID,,,,,,,,,,,,,,,,,,,,,
41-00002,41,1,1,1,350.0,1,1,1,1,1,...,1,0,1,1,1,0,0,2,3,2.0
41-00003,41,1,1,1,250.0,1,1,1,1,1,...,1,0,1,1,1,0,0,3,2,2.0
41-00004,41,1,1,1,250.0,1,1,1,1,1,...,1,0,1,1,1,0,0,4,1,3.0
41-00005,41,1,1,2,350.0,1,1,1,1,1,...,1,0,1,1,1,0,0,3,2,2.0
41-00006,41,1,1,1,450.0,1,1,1,1,1,...,1,0,1,1,1,0,0,1,2,3.0

In [7]:
filename = '../data/csl/CSL_d5_transfus_yes.csv'
#filename = '../data/csl/CSL_d5_transLoss.csv'
if not os.path.exists(filename):
    df.to_csv(filename, header=True)

In [8]:
small_df = df.iloc[0:1000,:]
smaller_df = df.iloc[0:100,:]
print(small_df.shape)
print(smaller_df.shape)
small_df.head()

(1000, 243)
(100, 243)

,Sitenum,Momdeath,MomICU,transfus_yes,EBLoss,AB_any,AB_ceph,AB_clind,AB_doxy,AB_eryth,...,ich_new1,iufd9,myocardio_new1,R_preg,Outcome1,high_BMI,high_Age,high_Gravidity,high_MomLOS,high_height
MomID,,,,,,,,,,,,,,,,,,,,,
41-00002,41,1,1,1,350.0,1,1,1,1,1,...,1,0,1,1,1,0,0,2,3,2.0
41-00003,41,1,1,1,250.0,1,1,1,1,1,...,1,0,1,1,1,0,0,3,2,2.0
41-00004,41,1,1,1,250.0,1,1,1,1,1,...,1,0,1,1,1,0,0,4,1,3.0
41-00005,41,1,1,2,350.0,1,1,1,1,1,...,1,0,1,1,1,0,0,3,2,2.0
41-00006,41,1,1,1,450.0,1,1,1,1,1,...,1,0,1,1,1,0,0,1,2,3.0

In [9]:
small_file = '../data/csl/CSL_d5_transfus_yes_small.csv'       # transfus_yes
smaller_file = '../data/csl/CSL_d5_transfus_yes_smaller.csv'
#small_file = '../data/csl/CSL_d5_transLoss_small.csv'        # transLoss
#smaller_file = '../data/csl/CSL_d5_transLoss_smaller.csv'
if not os.path.exists(small_file):
    small_df.to_csv(small_file, header=True)
if not os.path.exists(smaller_file):
    smaller_df.to_csv(smaller_file, header=True)