In [1]:
import sys
print(sys.version)

3.7.5 (default, Oct 25 2019, 15:51:11)
[GCC 7.3.0]

In [2]:
import pandas as pd
print(pd.__version__)

0.25.2

In [3]:
#pd.options.display.max_columns = None
#pd.options.display.float_format = '{:,.2f}'.format
#from IPython.core.display import display, HTML
#display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
csl_df = pd.read_sas('../data/csl/csllinkedbypreg.sas7bdat', format = 'sas7bdat', encoding='iso-8859-1')
csl_df.head()

,Sitenum,MomID,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,Hxmacrosomia,...,Fulldilattime,Placenttime,Inducttime,Ripentime,ROMtime,Epiduraltime,Intraantibtime,USdays,LMPdays,onepregflag
0,41,41-00001,1.0,3.0,1.0,34.0,4.0,5.0,4.0,1.0,...,15.0,4.0,361.0,NaN,300.0,343.0,346.0,103.0,271.0,2.0
1,41,41-00001,1.0,3.0,1.0,36.0,5.0,6.0,5.0,2.0,...,18.0,3.0,369.0,NaN,251.0,314.0,NaN,128.0,278.0,2.0
2,41,41-00002,1.0,3.0,1.0,37.0,1.0,3.0,1.0,1.0,...,NaN,1.0,NaN,NaN,1.0,4.0,NaN,128.0,268.0,1.0
3,41,41-00003,1.0,3.0,1.0,36.0,1.0,4.0,1.0,1.0,...,69.0,4.0,382.0,NaN,369.0,364.0,NaN,133.0,273.0,1.0
4,41,41-00004,1.0,2.0,1.0,34.0,2.0,6.0,2.0,1.0,...,12.0,5.0,339.0,NaN,105.0,116.0,455.0,204.0,274.0,1.0

In [6]:
%%time
# Version of convert_integer stored in util_mwb
from util_mwb import convert_integer 
all_types = convert_integer(csl_df)

CPU times: user 5min 26s, sys: 4min 40s, total: 10min 6s
Wall time: 7min 46s

In [7]:
import pickle
#with open('csl_types.pickle', 'wb') as file:
#    pickle.dump(all_types, file)  # Commented out to avoid overwrite
    
with open('csl_types.pickle', 'rb') as file:
    read_types = pickle.load(file)
    
print( all_types == read_types)

True

In [8]:
csl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228438 entries, 0 to 228437
Columns: 779 entries, Sitenum to onepregflag
dtypes: Int16(38), Int32(2), Int8(663), float64(59), object(17)
memory usage: 448.3+ MB

In [9]:
# Original code (copied to util_mwb); left here if optimization needed
def convert_integer (df):
    type_dict = {}
    for col in df.columns:
        intcol_flag = True
        if df[col].dtype == 'float64':
            for val in df[col]:
                if pd.notnull(val) and abs(val - int(val)) > 1e-6:
                    intcol_flag = False
                    break;
            if intcol_flag:
                if df[col].abs().max() < 127:
                    df[col] = df[col].astype('Int8')
                elif df[col].abs().max() < 32767:
                    df[col] = df[col].astype('Int16')
                else:   # assuming no ints greater than 2147483647 
                    df[col] = df[col].astype('Int32') 
        print(f"{col} is {df[col].dtype}")
        type_dict[col] = df[col].dtype
    return type_dict

In [10]:
# Possible attempts to speed inner loop - didn't work
#csl_df.applymap(lambda x: str(int(x)) if abs(x - int(x)) < 1e-6 else str(round(x,2)))
#csl_df['Marital'].apply(lambda x: str(int(x)) if abs(x - int(x)) < 1e-6 else str(round(x,2)))

In [21]:
types = csl_df.dtypes
print(type(types))
types.value_counts()

<class 'pandas.core.series.Series'>

Int8       663
float64     59
Int16       38
object      17
Int32        2
dtype: int64

In [12]:
types[(types != 'object') & (types != float)].index.values

array(['Marital', 'Education', 'Insurance', 'Momage', 'Parity',
       'Gravidity', 'Hxlivebirth', 'Hxmacrosomia', 'Hxpreterm',
       'Hxstillbirth', 'HxnumCS', 'Hxcsection', 'Diabetes', 'ChronicHBP',
       'Hxheartdis', 'Hxrenaldis', 'HxGIdis', 'Hxdepression', 'Hxseizure',
       'Hxthyroid', 'Hxasthma', 'Hxanemia', 'HIV', 'HxSTD', 'Numfetus',
       'OGTT1h', 'ART', 'Smoke', 'Alcohol', 'Druguse', 'ECV', 'Cerclage',
       'Antesteroid', 'Antehospital', 'AnteSTD', 'AnteGBS', 'AnteUTI',
       'Activeherpes', 'Antebleed3', 'Anteanemia', 'Anteasthma',
       'Antethyroid', 'GestHBP', 'Preeclampsia', 'Eclampsia', 'ImposedPE',
       'UnspecHBP', 'AnteCHBP', 'AnteGDM', 'DMControl', 'Anteprevia',
       'Anteabruption', 'Antethrombo', 'Antechorio', 'ThreatenedPB',
       'Incompetence', 'PROM', 'AnteSGA', 'AnteLGA', 'Rhincompat',
       'Oligo', 'Polyhydramnios', 'Antefetdistress', 'CPD', 'TTTwin',
       'Antefetaldth', 'AdmSBP', 'AdmDBP', 'AdmEFW', 'Admpresent',
       'AdmBishop', 'GAmethod', 'Admreason', 'Admcervpos',
       'Admconsistency', 'VEyear_lst', 'Numvagex', 'Hyp_beta', 'Hyp_hydr',
       'Hyp_meth', 'Hyp_calc', 'Hyp_ace', 'Hyp_clon', 'Hyp_diur',
       'Hyp_alpha', 'Hyp_othr', 'Hyp_any', 'CS_Elect', 'CS_Breech',
       'CS_Chorio', 'CS_Emerg', 'CS_Finduct', 'CS_Fforceps', 'CS_FVBAC',
       'CS_FTP', 'CS_NRFHT', 'CS_Fetanom', 'CS_Fetmac', 'CS_HIV',
       'CS_Mult', 'CS_Pabrupt', 'CS_Pprevia', 'CS_HTNdis', 'CS_UScar',
       'CS_Shoulder', 'CS_HxShoulder', 'CS_Other', 'CS_Unknown',
       'Induction', 'Ind_elect', 'Ind_Still', 'Ind_anomaly', 'Ind_HTN',
       'Ind_Mcond', 'Ind_FComp', 'Ind_Postdate', 'Ind_PROM',
       'Ind_Hxfetal', 'Ind_Vbleed', 'Ind_HxMat', 'Ind_Chorio',
       'Ind_Fmacro', 'Ind_Unkn', 'Ind_Miss', 'MthInd_AROM', 'MthInd_Miso',
       'MthInd_Mec', 'MthInd_PGE2', 'MthInd_Oxy', 'MthInd_Unkn',
       'MthIND_Miss', 'Analgesia', 'ROMmeth', 'Augment', 'Intratocolytix',
       'Bloodproduct', 'AB_peni', 'AB_ceph', 'AB_clind', 'AB_gent',
       'AB_eryth', 'AB_vanc', 'AB_doxy', 'AB_flagyl', 'AB_any',
       'IntraMgSO', 'IUPC', 'FSE', 'Meconium', 'Intrafever',
       'Intrachorio', 'Previa', 'Intraabrupt', 'Accrete', 'Momseizure',
       'Prolapse', 'Intrafetdistress', 'Shoulder', 'Urupture',
       'Dehiscence', 'Presentdel', 'Delmode', 'Operative', 'Delfetalpos',
       'Episiotomy', 'Hysterectomy', 'Ligation', 'Attendant',
       'TrialLabor', 'Postpulembol', 'Postbleed', 'Posttransfus',
       'Postfever', 'PostHBP', 'Endometritis', 'Woundsep', 'Woundinf',
       'Ileus', 'Postthrombosis', 'MomICU', 'Momdeath', 'Lac_Majperi',
       'Lac_Majoth', 'Lac_Cerv', 'Lac_Other', 'Lac_Unkn', 'Lac_Min',
       'Lac_None', 'MomLOS', 'Docsex', 'Docspecialty', 'Docyrgrad',
       'Docpractice', 'Docinsurance', 'Hostype', 'Hoslevel', 'Hosnumdel',
       'HosOBcover', 'HosMFM', 'Hosanesthesia', 'Hospitalist',
       'Hosmidwife', 'Hosdoula', 'Hosneonatologist', 'HosNICUlevel',
       'HosEpiNurse', 'HosEpitype', 'HospSpinal', 'HospPCA', 'HosEpiplac',
       'Hospepichange', 'HospScale', 'HospElectInd', 'HospElectCS',
       'Hosinsurance', 'Inoxy_stardose', 'Inoxy_incrdose',
       'Inoxy_incrtime', 'Numfetus1', 'Presentdel_B1', 'Presentdel_B2',
       'Presentdel_B3', 'Presentdel_B4', 'Delmode_B1', 'Delmode_B2',
       'Delmode_B3', 'Delmode_B4', 'Operative_B1', 'Operative_B2',
       'Operative_B3', 'Operative_B4', 'Sex1', 'Sex2', 'Sex3', 'Sex4',
       'Birthorder1', 'Birthorder2', 'Birthorder3', 'Birthorder4',
       'Resuscitate1', 'Resuscitate2', 'Resuscitate3', 'Resuscitate4',
       'ResusLevel1', 'ResusLevel2', 'ResusLevel3', 'ResusLevel4',
       'Newbornfever1', 'Newbornfever2', 'Newbornfever3', 'Newbornfever4',
       'NICUadmit1', 'NICUadmit2', 'NICUadmit3', 'NICUadmit4',
       'Conanomaly9_1', 'Conanomaly9_2', 'Conanomaly9_3', 'Conanomaly9_4',
       'Bthinjury9_1', 'Bthinjury9_2', 'Bthinjury9_3', 'Bthinjury9_4',
       'APGAR1_1', 'APGAR1_2', 'APGAR1_3', 'APGAR1_4', 'APGAR5_1',
       'APGAR5_2', 'APGAR5_3', 'APGAR5_4', 'APO2_4', 'APCO2_4', 'Abase4',
       'Birthweight1', 'Birthweight2', 'Birthweight3', 'Birthweight4',
       'Nsepsis1', 'Nsepsis2', 'Nsepsis3', 'Nsepsis4', 'Npneumonia1',
       'Npneumonia2', 'Npneumonia3', 'Npneumonia4', 'ICH1', 'ICH2',
       'ICH3', 'ICH4', 'Asphyxia1', 'Asphyxia2', 'Asphyxia3', 'Asphyxia4',
       'Intraaspirate1', 'Intraaspirate2', 'Intraaspirate3',
       'Intraaspirate4', 'HIE1', 'HIE2', 'HIE3', 'HIE4', 'RDS1', 'RDS2',
       'RDS3', 'RDS4', 'Nseizure1', 'Nseizure2', 'Nseizure3', 'Nseizure4',
       'Oligouria1', 'Oligouria2', 'Oligouria3', 'Oligouria4',
       'Nmyocardio1', 'Nmyocardio2', 'Nmyocardio3', 'Nmyocardio4',
       'PVHIVH1', 'PVHIVH2', 'PVHIVH3', 'PVHIVH4', 'NEC1', 'NEC2', 'NEC3',
       'NEC4', 'Apnea1', 'Apnea2', 'Apnea3', 'Apnea4', 'ROP1', 'ROP2',
       'ROP3', 'ROP4', 'Nanemia1', 'Nanemia2', 'Nanemia3', 'Nanemia4',
       'PDA1', 'PDA2', 'PDA3', 'PDA4', 'Noxygen1', 'Noxygen2', 'Noxygen3',
       'Noxygen4', 'Nventilate1', 'Nventilate2', 'Nventilate3',
       'Nventilate4', 'CPAP1', 'CPAP2', 'CPAP3', 'CPAP4', 'TTN1', 'TTN2',
       'TTN3', 'TTN4', 'Ntransfuse1', 'Ntransfuse2', 'Ntransfuse3',
       'Ntransfuse4', 'Surfactant1', 'Surfactant2', 'Surfactant3',
       'Surfactant4', 'Ndeath1', 'Ndeath2', 'Ndeath3', 'Ndeath4',
       'RDS9_1', 'RDS9_2', 'RDS9_3', 'RDS9_4', 'Npneumasp9_1',
       'Npneumasp9_2', 'Npneumasp9_3', 'Npneumasp9_4', 'Npneuminf9_1',
       'Npneuminf9_2', 'Npneuminf9_3', 'Npneuminf9_4', 'Asphyxia9_1',
       'Asphyxia9_2', 'Asphyxia9_3', 'Asphyxia9_4', 'Nseizure9_1',
       'Nseizure9_2', 'Nseizure9_3', 'Nseizure9_4', 'Oligouria9_1',
       'Oligouria9_2', 'Oligouria9_3', 'Oligouria9_4', 'Nmyocardio9_1',
       'Nmyocardio9_2', 'Nmyocardio9_3', 'Nmyocardio9_4', 'HIE9_1',
       'HIE9_2', 'HIE9_3', 'HIE9_4', 'PVHIVH9_1', 'PVHIVH9_2',
       'PVHIVH9_3', 'PVHIVH9_4', 'ICH9_1', 'ICH9_2', 'ICH9_3', 'ICH9_4',
       'NEC9_1', 'NEC9_2', 'NEC9_3', 'NEC9_4', 'Intraaspirate9_1',
       'Intraaspirate9_2', 'Intraaspirate9_3', 'Intraaspirate9_4',
       'Apnea9_1', 'Apnea9_2', 'Apnea9_3', 'Apnea9_4', 'ROP9_1', 'ROP9_2',
       'ROP9_3', 'ROP9_4', 'Nsepsis9_1', 'Nsepsis9_2', 'Nsepsis9_3',
       'Nsepsis9_4', 'Nanemia9_1', 'Nanemia9_2', 'Nanemia9_3',
       'Nanemia9_4', 'Nanomalies9_1', 'Nanomalies9_2', 'Nanomalies9_3',
       'Nanomalies9_4', 'PDA9_1', 'PDA9_2', 'PDA9_3', 'PDA9_4', 'TTN9_1',
       'TTN9_2', 'TTN9_3', 'TTN9_4', 'Outcome1', 'Outcome2', 'Outcome3',
       'Outcome4', 'iatro_hypo', 'prim_hypo', 'TD_nos', 'hypertyro',
       'other_TD', 'no_TD', 'gi_disease9', 'renal_disease9',
       'depression9', 'heart_disease9', 'gest_htn', 'pre_diab',
       'gest_diab', 'depression_comb', 'Heart_disease_comb',
       'GI_disease_comb', 'renal_disease_comb', 'SE_pre', 'eclamp',
       'S_pre', 'M_pre', 'momrace_new', 'R_preg', 'new_asthma', 'new_htn',
       'new_depression', 'new_heartdis', 'new_gidis', 'new_renal',
       'new_prediab', 'fever9', 'postpartum_hemorrhage9', 'prom9',
       'chorio9', 'abruptio9', 'previa9', 'pulmonary_embolism9',
       'threatpb9', 'maternal_death9', 'Malpresentation9', 'version9',
       'breech9', 'ga', 'delivery', 'vertex', 'vertex_new', 'breech',
       'breech_new', 'death_new', 'threat_new', 'chorio', 'chorio_new',
       'hemorrhage', 'hemorrhage_new', 'abruption', 'abruption_new',
       'previa_chart', 'previa_new', 'fever_new', 'Pulmemb_new', 'uscar',
       'induction_new', 'prelaborCD', 'spontlabor', 'ROM', 'PROM_new',
       'PPROM_new', 'neonatal_tyro2', 'neonatal_tyro1', 'nanemia9_new1',
       'nanemia9_new2', 'nanemia9_new3', 'nanemia9_new4',
       'nanomalies9_new1', 'nanomalies9_new2', 'apnea9_new1',
       'apnea9_new3', 'apnea9_new2', 'apnea9_new4', 'intraaspirate9_new1',
       'intraaspirate9_new2', 'asphyxia9_new1', 'asphyxia9_new2',
       'asphyxia9_new3', 'npneumasp9_new1', 'npneumasp9_new2',
       'conanomaly9_new1', 'conanomaly9_new2', 'conanomaly9_new3',
       'conanomaly9_new4', 'hie9_new1', 'ICH9_new1', 'ICH9_new2',
       'ICH9_new3', 'npneuminf9_new1', 'npneuminf9_new2',
       'npneuminf9_new3', 'nmyocardio9_new1', 'nmyocardio9_new2',
       'nec9_new1', 'nec9_new2', 'nec9_new3', 'oligouria9_new1',
       'oligouria9_new2', 'pda9_new1', 'pda9_new2', 'pda9_new3',
       'pda9_new4', 'pvhivh9_new1', 'pvhivh9_new2', 'pvhivh9_new4',
       'pvhivh9_new3', 'rds9_new1', 'rds9_new2', 'rds9_new3', 'rds9_new4',
       'rop9_new1', 'rop9_new2', 'rop9_new3', 'rop9_new4',
       'nseizure9_new1', 'nseizure9_new2', 'nseizure9_new3',
       'nseizure9_new4', 'nsepsis9_new1', 'nsepsis9_new2',
       'nsepsis9_new3', 'nsepsis9_new4', 'bthinjury9_new1',
       'bthinjury9_new2', 'bthinjury9_new3', 'ttn9_new1', 'ttn9_new2',
       'ttn9_new3', 'ttn9_new4', 'iufd9', 'hie9_new2', 'hie9_new3',
       'hie9_new4', 'neonatal_tyro3', 'nanomalies9_new3',
       'intraaspirate9_new3', 'npneumasp9_new3', 'nmyocardio9_new3',
       'oligouria9_new3', 'neonatal_tyro4', 'bthinjury9_new4',
       'nanomalies9_new4', 'intraaspirate9_new4', 'asphyxia9_new4',
       'npneumasp9_new4', 'ICH9_new4', 'npneuminf9_new4',
       'nmyocardio9_new4', 'nec9_new4', 'oligouria9_new4', 'nanemia_new1',
       'apnea_new1', 'aspiration_new1', 'asphyxia_new1', 'hie_new1',
       'ich_new1', 'myocardio_new1', 'nec_new1', 'oligo_new1', 'pda_new1',
       'pvh_new1', 'rds_new1', 'rop_new1', 'seizure_new1', 'sepsis_new1',
       'ttn_new1', 'nanemia_new2', 'apnea_new2', 'aspiration_new2',
       'asphyxia_new2', 'hie_new2', 'ich_new2', 'myocardio_new2',
       'nec_new2', 'oligo_new2', 'pda_new2', 'pvh_new2', 'rds_new2',
       'rop_new2', 'seizure_new2', 'sepsis_new2', 'ttn_new2',
       'nanemia_new3', 'apnea_new3', 'aspiration_new3', 'asphyxia_new3',
       'hie_new3', 'ich_new3', 'myocardio_new3', 'nec_new3', 'oligo_new3',
       'pda_new3', 'pvh_new3', 'rds_new3', 'rop_new3', 'seizure_new3',
       'sepsis_new3', 'ttn_new3', 'nanemia_new4', 'apnea_new4',
       'aspiration_new4', 'asphyxia_new4', 'hie_new4', 'ich_new4',
       'myocardio_new4', 'nec_new4', 'oligo_new4', 'pda_new4', 'pvh_new4',
       'rds_new4', 'rop_new4', 'seizure_new4', 'sepsis_new4', 'ttn_new4',
       'sgaagalga1', 'DeliveryYear', 'DeliveryHour', 'DtDeliveryYear',
       'DeliveryYear1', 'DeliveryHour1', 'Deliverytime1', 'DeliveryYear2',
       'DeliveryHour2', 'Deliverytime2', 'DeliveryYear3', 'DeliveryHour3',
       'Deliverytime3', 'DeliveryYear4', 'DeliveryHour4', 'Deliverytime4',
       'Dthdays1', 'Dthdays2', 'Dthdays3', 'Dthdays4', 'Admittime',
       'Labonsettime', 'Triagetime', 'Fulldilattime', 'Placenttime',
       'Inducttime', 'Ripentime', 'ROMtime', 'Epiduraltime',
       'Intraantibtime', 'USdays', 'LMPdays', 'onepregflag'], dtype=object)

In [13]:
csl_df.isnull().sum()

Sitenum                0
MomID                  0
Marital                1
Education              1
Insurance              1
                   ...
Epiduraltime      124528
Intraantibtime    181958
USdays            163192
LMPdays           121799
onepregflag            0
Length: 779, dtype: int64

In [14]:
csl_df.describe(include='all')

,Sitenum,MomID,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,Hxmacrosomia,...,Fulldilattime,Placenttime,Inducttime,Ripentime,ROMtime,Epiduraltime,Intraantibtime,USdays,LMPdays,onepregflag
count,228438,228438,228437.000000,228437.000000,228437.000000,228115.000000,228438.000000,226720.000000,160448.000000,228438.000000,...,145591.000000,192847.000000,65530.000000,10917.000000,76061.000000,103910.000000,46480.000000,65246.000000,106639.000000,228438.000000
unique,12,208695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,41,45-01637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,50320,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.970184,6.432855,2.081563,27.627946,1.139894,2.667665,1.084626,4.170786,...,72.767960,8.262643,567.211323,958.151598,437.929885,308.309922,381.678442,145.074165,269.954848,1.168632
std,NaN,NaN,1.457665,2.865649,2.083136,6.196163,1.367558,1.826788,1.280143,3.634488,...,211.966159,71.324187,535.209984,613.710233,659.183549,255.902863,606.139353,59.235567,18.760556,0.374428
min,NaN,NaN,1.000000,1.000000,1.000000,11.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,1.000000,3.000000,1.000000,23.000000,0.000000,1.000000,0.000000,1.000000,...,13.000000,2.000000,233.000000,559.000000,106.000000,134.000000,105.000000,123.000000,266.000000,1.000000
50%,NaN,NaN,1.000000,8.000000,1.000000,27.000000,1.000000,2.000000,1.000000,1.000000,...,32.000000,4.000000,414.000000,846.000000,281.000000,252.000000,228.000000,143.000000,274.000000,1.000000
75%,NaN,NaN,3.000000,8.000000,2.000000,32.000000,2.000000,3.000000,2.000000,8.000000,...,79.000000,6.000000,715.000000,1213.000000,553.000000,419.000000,459.000000,193.000000,280.000000,1.000000
max,NaN,NaN,8.000000,9.000000,8.000000,58.000000,39.000000,49.000000,23.000000,9.000000,...,9854.000000,7217.000000,9586.000000,9715.000000,10028.000000,9643.000000,10046.000000,314.000000,294.000000,2.000000

In [15]:
#csl_df.to_csv('/home/mbopf/MFMDatasets/CSL_StudyItems/mbopf/csl_all.csv')

In [16]:
# Clear some memory
#import gc
#del csl_df
#gc.collect()

In [26]:
import numpy as np
import pandas as pd
np.random.seed(10)
df = pd.DataFrame(np.random.choice([1, 2, 3.3, 5000, 111111, np.NaN], (3,9)), 
                  columns=[f'col{i}' for i in range(9)])
df

       col0    col1      col2      col3    col4    col5      col6  col7  col8
0       2.0     NaN  111111.0       1.0     2.0  5000.0  111111.0   2.0   NaN
1       1.0     NaN       2.0       3.3     1.0     2.0       1.0   3.3   1.0
2  111111.0  5000.0       1.0  111111.0  5000.0     1.0    5000.0   3.3   2.0

In [24]:
import util_mwb
util_mwb.convert_integer(df)

{'col0': Int32Dtype(),
 'col1': Int16Dtype(),
 'col2': Int32Dtype(),
 'col3': dtype('float64'),
 'col4': Int16Dtype(),
 'col5': Int16Dtype(),
 'col6': Int32Dtype(),
 'col7': dtype('float64'),
 'col8': Int8Dtype()}

In [25]:
df.max(axis=1)

0    111111.0
1         3.3
2    111111.0
dtype: float64

In [20]:
s = pd.cut(df.max(), bins=[0, 127, 32767, 2147483647], labels=['Int8', 'Int16', 'Int32'])
print(s)
s = s.where(df.dtypes=='float')  # So we only cast the previously float cols 
print(s)

#for idx, gp in s.groupby(s):
#    df.loc[:, gp.index] = df.loc[:, gp.index].astype(idx)

col0    Int32
col1    Int16
col2    Int32
col3    Int32
col4    Int16
col5    Int16
col6    Int32
col7     Int8
col8     Int8
dtype: category
Categories (3, object): [Int8 < Int16 < Int32]
col0      NaN
col1      NaN
col2      NaN
col3    Int32
col4      NaN
col5      NaN
col6      NaN
col7     Int8
col8      NaN
dtype: category
Categories (3, object): [Int8 < Int16 < Int32]